{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>Cuajotor Store</title>
		<!-- Favicon -->

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="{% static 'css/bootstrap.min.css' %}" />
		<!-- Typography CSS -->
		<link
			rel="stylesheet"
			href="{% static 'css/typography.css' %}" />
		<!-- Style CSS -->
		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}" />
		<!-- Responsive CSS -->
		<link
			rel="stylesheet"
			href="{% static 'css/responsive.css' %}" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
	</head>
	<body>
		<!-- Wrapper Start -->
		<div class="wrapper">
			<!-- Sidebar  -->
			{% include 'includes/sidebar.html' %}
			<!-- Page Content  -->
			<div
				id="content-page"
				class="content-page">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6 col-lg-3">
							<div class="iq-card iq-card-block iq-card-stretch iq-card-height overflow-hidden">
								<div class="iq-card-body pb-0">
									<div class="rounded-circle iq-card-icon iq-bg-primary"><i class="ri-database-fill"></i></div>
									<span class="float-right line-height-6">Sold Items</span>
									<div class="clearfix"></div>
									<div class="text-center">
										<h2 class="mb-0">
											<span class="counter">{{total_quantity_sold_today}}</span>
										</h2>
										<p class="mb-3 text-secondary line-height">Items Sold Today</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="iq-card iq-card-block iq-card-stretch iq-card-height overflow-hidden">
								<div class="iq-card-body pb-0">
									<div class="rounded-circle iq-card-icon iq-bg-warning">
										<i
											class="fa fa-exchange"
											aria-hidden="true"></i>
									</div>
									<span class="float-right line-height-6">Todays Gains</span>
									<div class="clearfix"></div>
									<div class="text-center">
										<h2 class="mb-0">
											<span>₱</span>
											<span class="counter">{{total_price_sold_today}}</span>
										</h2>
										<p class="mb-3 text-secondary line-height">Total worth of items sold today</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="iq-card iq-card-block iq-card-stretch iq-card-height overflow-hidden">
								<div class="iq-card-body pb-0">
									<div class="rounded-circle iq-card-icon iq-bg-success"><i class="fas fa-box-open"></i></div>
									<span class="float-right line-height-6">Total Items</span>
									<div class="clearfix"></div>
									<div class="text-center">
										<h2 class="mb-0">
											<span class="counter">{{total_quantity}}</span>
										</h2>
										<p class="mb-3 text-secondary line-height">Items remaining</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="iq-card iq-card-block iq-card-stretch iq-card-height overflow-hidden">
								<div class="iq-card-body pb-0">
									<div class="rounded-circle iq-card-icon iq-bg-danger"><i class="ri-shopping-cart-line"></i></div>
									<span class="float-right line-height-6">Total Worth of Items</span>
									<div class="clearfix"></div>
									<div class="text-center">
										<h2 class="mb-0">
											₱
											<span class="counter">{{total_price}}</span>
										</h2>
										<p class="mb-3 text-secondary line-height">Overall</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="iq-card iq-card-block iq-card-stretch iq-card-height overflow-hidden">
								<div class="iq-card-header d-flex justify-content-between">
									<div class="iq-header-title">
										<h4 class="card-title">Sales Report</h4>
									</div>
									<div class="iq-card-header-toolbar d-flex align-items-center">
										<ul class="nav nav-pills">
											<li class="nav-item">
												<a
													href="#"
													class="nav-link active">
													Weekly
												</a>
											</li>
											<li class="nav-item">
												<a
													href="{% url 'homepageMonthly' %}"
													class="nav-link">
													This Month
												</a>
											</li>
										</ul>
									</div>
								</div>

								<div id="chart"></div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="iq-card iq-card-block iq-card-stretch iq-card-height animation-card">
								<div class="iq-card-body p-0">
									<div class="an-text">
										<span>Daily</span>
										<br />
										<span>Highest Gain Report</span>
										<br />
										<span class="font-weight-bold">{{ highest_total_price_date }}</span>
										<h2 class="h3 font-weight-bold">
											₱
											<span class="">{{ highest_total_price }}</span>
										</h2>
									</div>
									<div class="an-img">
										<br />
										<br />
										<br />
										<br />
										<br />
										<br />
										<br />
										<img
											src="{% static 'images/sales.png' %}"
											class="w-100 mt-5"
											alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Wrapper END -->
		<!-- Footer -->
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		{% include 'includes/footer.html' %}
		<script>
			var current_report = "{{current_history}}";
			var day1 = parseInt(current_report);

			var day2_report = "{{yesterday_history}}";
			var day2 = parseInt(day2_report);

			var day3_report = "{{three_days_ago_history}}";
			var day3 = parseInt(day3_report);

			var day4_report = "{{four_days_ago_history}}";
			var day4 = parseInt(day4_report);

			var day5_report = "{{five_days_ago_history}}";
			var day5 = parseInt(day5_report);

			var day6_report = "{{six_days_ago_history}}";
			var day6 = parseInt(day6_report);

			var day7_report = "{{seven_days_ago_history}}";
			var day7 = parseInt(day7_report);

			var options = {
				chart: {
					type: "area",
				},
				series: [
					{
						name: "Sold Items",
						data: [day1, day2, day3, day4, day5, day6, day7],
					},
				],
				xaxis: {
					categories: [
						"{{current.date}}",
						"{{yesterday.date}}",
						"{{two_days_ago.date}}",
						"{{three_days_ago.date}}",
						"{{four_days_ago.date}}",
						"{{five_days_ago.date}}",
						"{{six_days_ago.date}}",
					],
				},
			};

			var chart = new ApexCharts(document.querySelector("#chart"), options);

			chart.render();
		</script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Appear JavaScript -->
		<script src="{% static 'js/jquery.appear.js' %}"></script>
		<!-- Countdown JavaScript -->
		<script src="{% static 'js/countdown.min.js' %}"></script>
		<!-- Counterup JavaScript -->
		<script src="{% static 'js/waypoints.min.js' %}"></script>
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<!-- Wow JavaScript -->
		<script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Apexcharts JavaScript -->
		<script src="{% static 'js/apexcharts.js' %}"></script>
		<!-- Slick JavaScript -->
		<script src="{% static 'js/slick.min.js' %}"></script>
		<!-- Select2 JavaScript -->
		<script src="{% static 'js/select2.min.js' %}"></script>
		<!-- Owl Carousel JavaScript -->
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!-- Magnific Popup JavaScript -->
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<!-- Smooth Scrollbar JavaScript -->
		<script src="{% static 'js/smooth-scrollbar.js' %}"></script>
		<!-- lottie JavaScript -->
		<script src="{% static 'js/lottie.js' %}"></script>
		<!-- Chart Custom JavaScript -->
		<script src="{% static 'js/chart-custom.js' %}"></script>
		<!-- Custom JavaScript -->
		<script src="{% static 'js/custom.js' %}"></script>
	</body>
</html>
